project:
  type: website

website:
  title: "homepage"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - about.qmd

format:
  html:
    include-before-body: _includes/header.html
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true
